<!DOCTYPE html>
<html    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>绿地中央广场综合物业办公系统 - 登录</title>
    <meta name="keywords" content="绿地中央广场综合物业办公系统">
    <meta name="description" content="绿地中央广场综合物业办公系统">
    <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="css/font-awesome.min93e3.css" th:href="@{/css/font-awesome.min93e3.css}" rel="st ylesheet">
    <link href="css/animate.min.css" th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link href="css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet">
    <link href="css/login.min.css" th:href="@{/css/login.min.css}" rel="stylesheet">
    <!-- 导入jq -->    
    <script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <!-- 自定义的js -->
    <script src="js/login/login.js" th:src="@{/js/login/login.js}"></script>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>
        if(window.top!==window.self){
        	window.top.location=window.location
        };
    </script>
</head>
<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-6">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>[ 深圳xxx物业管理公司]</h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>欢迎使用 <strong>绿地中央广场综合物业办公系统</strong></h4>
                    <ul class="m-b">
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势一</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势二</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势三</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势四</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势五</li>
                    </ul>
                    <strong>还没有账号？ <a href="#">立即注册&raquo;</a></strong>
                </div>
            </div>
            <div class="col-sm-6">
                <form method="post"  id="myform" th:action="@{/sysuser/login}">
                    <h3 class="m-t-md">绿地中央广场综合物业办公系统 </h3>
                    <div class="form-group has-error">
        				<label class="control-label" for="inputError1" th:text="${#request.getAttribute('msg')==null? '欢迎使用本系统！':#request.getAttribute('msg')}">

        				</label>
      				</div>
                    <input type="text" class="form-control uname"  id="uname" name="uname" placeholder="用户名" />
                     <div class="form-group has-error">
                        <label class="control-label" for="inputError1" id="u_inputErrorid" style="display: none;">用户名不能为空</label>
                     </div> 
                    <input type="password" class="form-control pword m-b" id="pwd"  name="pwd" width="50%" placeholder="密码" />
                    <div class="form-group has-error">
                       <label class="control-label" for="inputError1" id="p_inputErrorid" style="display: none;" >密码不能为空</label>
                    </div>
                    <input type="text" class="form-control  code  m-b" id="ran"  name="rand" placeholder="验证码" />
                    <div class="form-group has-error">
                       <label class="control-label" for="inputError1" id="r_inputErrorid" style="display: none;" >验证码不能为空</label>
                    </div>
                    <span>
                    	<img alt="图片不存在"  id="code" height="30px"   th:src="@{/imgCode}">
                    </span>
                    <a href="javascript:void(0)" id="imgCode">看不清？点击图片更换</a>
                    <input type="submit" class="btn btn-success btn-block" value="登录" >
                    <a href="#">忘记密码了？</a>
                </form>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2016  
            </div>
        </div>
    </div>
</body>
</html>