<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yn.pms.dao.ISellContract">


    <select id="daoFindById" resultType="SellContract" parameterType="int">
        select * from t_sellcontract where room_id=#{id}
    </select>

    <select id="findProperietor" resultType="Properietor">
        select * from t_properietor where proprietorName=#{pname} and phone=#{phone}
    </select>

    <insert id="insertProperietor" parameterType="Properietor" >
        insert into t_properietor(proprietorName,gender,brithday,IDNum,phone,status,belongCompany,address)
         values(#{proprietorName},#{gender},#{brithday},#{IDNum},#{phone},#{status},#{belongCompany},#{address})
    </insert>

    <select id="selectAllSoldRooms" resultType="room">
        select * from t_room
        <where>
            <choose>
                <when test="fid gt 0">
                    floor_id=#{fid}
                </when>
                <when test="bid gt 0">
                    floor_id in(select id from t_floor where build_id=#{bid})
                </when>
                <when test="cid gt 0">
                    floor_id in(select id from t_floor where build_id in(
                    select id from t_build where community_id=#{cid}
                    ))
                </when>
            </choose>
            <if test="status gt 0">
                and statusTenant=#{status}
            </if>
        </where>
        limit #{cp},#{ls}
    </select>

    <insert id="daoCreate" parameterType="SellContract">
        insert into t_sellcontract(residence_info,room_id,sellcontract_id,signtime,properietor_name,phone,contract_value,payment_method,identitypositive)
          values(#{residence_info},#{room_id},#{sellcontract_id},#{signtime},#{properietor_name},#{phone},#{contract_value},#{payment_method},#{identitypositive})
    </insert>

    <select id="count" resultType="int">
        select count(*) from t_room
        <where>
            <choose>
                <when test="fid gt 0">
                    floor_id=#{fid}
                </when>
                <when test="bid gt 0">
                    floor_id in(select id from t_floor where build_id=#{bid})
                </when>
                <when test="cid gt 0">
                    floor_id in(select id from t_floor where build_id in(
                    select id from t_build where community_id=#{cid}
                    ))
                </when>
            </choose>
            <if test="status gt 0">
                and statusTenant=#{status}
            </if>
        </where>
    </select>

</mapper>